*{
    margin: 0;
}
body{
    text-align: center;
    color: deeppink;
    background-color: rgb(231, 231, 231);
}
header{
    width: 100%;
    background: rgb(0, 0, 0);
    color: white;
    text-align: left;
    padding-top: 20px;
}

footer{
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.parrafo{
    margin: 0;
    padding-top: 10px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;    
}